body
{
  background-color :#99a8b2;
  background-size: contain;
background-repeat: no-repeat;
}
hr
{
  border-style: none;
  border-top-style: dotted ;
border-color: orange;
border-width: 5px;
  width: 30%;
}

#sidebar  {
  color: inherit;

}
h1{

  color: #0f4c75;
}
h3
 {

  color: #0f4c75;
  height: auto;
}
  table{
    background-color : orange ;
  background-color: grey;
}
ol{
text-decoration: underline;
}
p{
  line-height: 150%;

}
a{
  display: block;
  font-family: Arial;
}
/*********************************************class selection*******************************************/
.redh3
{
  color: red;
}
.greenh3
{
color: green ;
}
.shrift{
  font-family: cursive ,serif;
}
img:hover
{
  background-color: white ;
}
.img1{
  height: 250px;
  width: 250px;
}
/*********************************************id selection*******************************************/
#mainheading
{
  color: blue ;
}
